/**
 * Настройка текста внутри кнопок
 */
.button_p {
	color: #BEB5B3;
}

/**
 * Настройка таблицы
 */
.button_table {
	width: 800px;
	border-spacing: 0px 0px;
}

/**
 * Настройка строки таблицы
 */
.button_tr {
	width: 800px;
	padding: 0 0 0 0;
	margin: 0;
}

/**
 * Настройка фиктивного столбца (заполнение пространства для выравнивания)
 */
.fictive_td {
	width: 200px;
	padding: 0 0 0 0;
	margin: 0;
}

/**
 * Верхняя фиктивная строка
 */
#fictive_tr_up {
	height: 82px;
	padding: 0 0 0 0;
	margin: 0;
}

/**
 * Нижняя фиктивная строка
 */
#fictive_tr_down {
	height: 242px;
	padding: 0 0 0 0;
	margin: 0;
}

/**
 * Натройка кнопки выхода
 */
.exit_button_td {
	border-width: 4px;
	border-style: solid;
	border-color: #888;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-left-radius: 25px;
	-webkit-border-bottom-right-radius: 25px;
	width: 400px;
	text-align: center;
	align: center;
	padding: 0 0 0 0;
	margin: 0;
}

/**
 * Создание анимации кнопки выхода
 */
@keyframes exit_color {
	from {
		border-color: #888 #888 #888 #888;
	}
	5% {
		border-color: #888 #888 #888 #888;
	}
	15% {
		border-color: #800 #080 #008 #808;
	}
	25% {
		border-color: #800 #080 #008 #808;
	}
	35% {
		border-color: #808 #800 #080 #008;
	}
	45% {
		border-color: #808 #800 #080 #008;
	}
	55% {
		border-color: #008 #808 #800 #080;
	}
	65% {
		border-color: #008 #808 #800 #080;
	}
	75% {
		border-color: #080 #008 #808 #800;
	}
	85% {
		border-color: #080 #008 #808 #800;
	}
	95% {
		border-color: #888 #888 #888 #888;
	}
	to {
		border-color: #888 #888 #888 #888;
	}
}

/**
 * Анимация кнопки выхода при наведении
 */
.exit_button_td:hover {
	animation: exit_color 15s infinite linear;
}

/**
 * Настройка кнопки игры
 */
.play_button_td {
	border-width: 4px;
	border-style: solid;
	border-color: #888;
	-webkit-border-top-left-radius: 25px;
	-webkit-border-top-right-radius: 25px;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	width: 400px;
	text-align: center;
	align: center;
	padding: 0 0 0 0;
	margin: 0;
}

/**
 * Создание анимации кнопки игры
 */
@keyframes play_color {
	from {
		border-color: #888 #888 #888 #888;
	}
	5% {
		border-color: #888 #888 #888 #888;
	}
	15% {
		border-color: #008 #808 #800 #080;
	}
	25% {
		border-color: #008 #808 #800 #080;
	}
	35% {
		border-color: #080 #008 #808 #800;
	}
	45% {
		border-color: #080 #008 #808 #800;
	}
	55% {
		border-color: #800 #080 #008 #808;
	}
	65% {
		border-color: #800 #080 #008 #808;
	}
	75% {
		border-color: #808 #800 #080 #008;
	}
	85% {
		border-color: #808 #800 #080 #008;
	}
	95% {
		border-color: #888 #888 #888 #888;
	}
	to {
		border-color: #888 #888 #888 #888;
	}
}

/**
 * Анимация кнопки игры при наведении
 */
.play_button_td:hover {
	animation: play_color 15s infinite linear;
}