/**
 * Настройка текста заголовка
 */
.header_h1 {
	font-family: "Lucida Console", monospace;
	font-weight: bold;
	text-align: center;
	font-size: 1.5cm;
}

/**
 * Настройка таблицы заголовка
 */
.header_table {
	vertical-align: middle;
	border: 0;
	width: 800px;
	height: 100px;
}

/**
 * Настройка заголовка
 */
header {
	height: 10em;
}

/**
 * Анимация сдвига градиента
 */
@keyframes riding_roof {
	from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

/**
 * Градиент краной буквы
 */
#red {
	background-image:
		-webkit-linear-gradient(left, #800, #840, #880, #080, #048, #008, #808, #800, #840);
	-webkit-background-size: 800%, 100%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: riding_roof 10s infinite linear;
	animation-direction: reverse;
}

/**
 * Градиент оранжевой буквы
 */
#orange {
	background-image:
		-webkit-linear-gradient(left, #840, #880, #080, #048, #008, #808, #800, #840, #880);
	-webkit-background-size: 800%, 100%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: riding_roof 10s infinite linear;
	animation-direction: reverse;
}

/**
 * Градиент жёлтой буквы
 */
#yellow {
	background-image:
		-webkit-linear-gradient(left, #880, #080, #048, #008, #808, #800, #840, #880, #080);
	-webkit-background-size: 800%, 100%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: riding_roof 10s infinite linear;
	animation-direction: reverse;
}

/**
 * Градиент зелёной буквы
 */
#green {
	background-image:
		-webkit-linear-gradient(left, #080, #048, #008, #808, #800, #840, #880, #080, #048);
	-webkit-background-size: 800%, 100%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: riding_roof 10s infinite linear;
	animation-direction: reverse;
}

/**
 * Градиент голубой буквы
 */
#lblue {
	background-image:
		-webkit-linear-gradient(left, #048, #008, #808, #800, #840, #880, #080, #048, #008);
	-webkit-background-size: 800%, 100%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: riding_roof 10s infinite linear;
	animation-direction: reverse;
}

/**
 * Градиент синей буквы
 */
#blue {
	background-image:
		-webkit-linear-gradient(left, #008, #808, #800, #840, #880, #080, #048, #008, #808);
	-webkit-background-size: 800%, 100%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: riding_roof 10s infinite linear;
	animation-direction: reverse;
}

/**
 * Градиент фиолетовой буквы
 */
#violet {
	background-image:
		-webkit-linear-gradient(left, #808, #800, #840, #880, #080, #048, #008, #808, #800);
	-webkit-background-size: 800%, 100%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: riding_roof 10s infinite linear;
	animation-direction: reverse;
}