/**
 * Настройка секции с диалогом
 */
.dialog_section {
	width: 800px;
	height: 200px;
	margin: 0;
	background-image: 
		radial-gradient(ellipse, rgba(127,63,0,1) 0%, rgba(137,127,0,1) 35%, rgba(127,63,0,1) 100%);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}