/**
 * Настройка footer
 */
footer {
	border-top: 3px solid #212A2C;
	background: linear-gradient(90deg, 
		#00FF0004 0%,
		#00FF0030 12.5%,
		#00FF0030 87.5%,
		#00FF0004 100%);
	width: 800px;
	margin-top: 0px;
}

/**
 * Настройка таблицы в footer
 */
.footer_table {
	margin: 0;
	border-spacing: 0px;
	height: 10px;
}

/**
 * Стилизация поля ползунка
 */
#sound_volume {
	margin: 0;
	-webkit-appearance: none;
	border-width: 0px;
	border-radius: 6px;
	width: 144px;
	height: 6px;
	outline: none;
	background-color: #616A6C;
	border:1px solid #111A1C;
}


/**
 * Стилизация головки ползунка
 */
#sound_volume::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 15px;
	height: 15px;
	background: #B0B000;
	border: 1px solid #111A1C;
	border-top-left-radius: 50%;
	border-top-right-radius: 0%;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 0%;
	cursor: pointer;
	transition: .1s;
}

/**
 * Настройка колонки с ползунком
 */
.sound_td {
	border: 2px solid #212A2C;
	width: 146px;
	margin: 0;
	padding: 2px 25px;
}

/**
 * Настройка колонок с кнопками
 */
.footer_td {
	border: 2px solid #212A2C;
	width: 192px;
	margin: 0;
	padding: 2px;
	text-align: center;
	color: #BEB5B3;
}

/**
 * Настройка фиктовной колонки
 */
.footer_fictive_td {
	width: 100px;
	margin: 0;
	padding: 0px;
}
/**
 * Настройка анимации колонки с ползунком при наведении
 */
.sound_td:hover {
	animation: blink_td 1s infinite alternate;
}

/**
 * Настройка анимации колонки с кнопками при наведении
 */
.footer_td:hover {
	animation: blink_td 1s infinite alternate;
}

/**
 * Анимация колонок
 */
@keyframes blink_td {
	from {
		border-color: #212A2CFF;
	}
	to {
		border-color: #414A4C00;
	}
}